In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

import requests
import time
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
from selenium import webdriver
from bs4 import BeautifulSoup
import json
df = pd.read_csv('/Users/amos/Desktop/DSI-SF-2-amoskim25/nba_capstone/nbastats/game_logs2005-06.csv')

In [2]:
df.columns

Index([u'Unnamed: 0', u'SEASON_ID', u'PLAYER_ID', u'PLAYER_NAME',
       u'TEAM_ABBREVIATION', u'TEAM_NAME', u'GAME_ID', u'GAME_DATE',
       u'MATCHUP', u'WL', u'MIN', u'FGM', u'FGA', u'FG_PCT', u'FG3M', u'FG3A',
       u'FG3_PCT', u'FTM', u'FTA', u'FT_PCT', u'OREB', u'DREB', u'REB', u'AST',
       u'STL', u'BLK', u'TOV', u'PF', u'PTS', u'PLUS_MINUS',
       u'VIDEO_AVAILABLE'],
      dtype='object')

In [3]:
df.shape

(24917, 31)

In [4]:
50 * 25000

1250000

In [5]:
df.head()

,Unnamed: 0,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,0,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20500591,2006-01-22,LAL vs. TOR,W,...,4,6,2,3,1,3,1,81,25,0
1,1,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20500359,2005-12-20,LAL vs. DAL,W,...,5,8,0,3,0,2,3,62,35,0
2,2,22005,947,Allen Iverson,PHI,Philadelphia 76ers,20500371,2005-12-23,PHI @ ATL,L,...,6,6,5,2,0,0,0,53,-5,0
3,3,22005,2544,LeBron James,CLE,Cleveland Cavaliers,20500287,2005-12-10,CLE @ MIL,L,...,7,7,7,2,0,3,5,52,-3,0
4,4,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20501130,2006-04-07,LAL @ PHX,L,...,5,5,3,1,0,2,3,51,-6,0

In [36]:
df.columns

Index([u'Unnamed: 0', u'SEASON_ID', u'PLAYER_ID', u'PLAYER_NAME',
       u'TEAM_ABBREVIATION', u'TEAM_NAME', u'GAME_ID', u'GAME_DATE',
       u'MATCHUP', u'WL', u'MIN', u'FGM', u'FGA', u'FG_PCT', u'FG3M', u'FG3A',
       u'FG3_PCT', u'FTM', u'FTA', u'FT_PCT', u'OREB', u'DREB', u'REB', u'AST',
       u'STL', u'BLK', u'TOV', u'PF', u'PTS', u'PLUS_MINUS',
       u'VIDEO_AVAILABLE'],
      dtype='object')

In [41]:
df.drop(['Unnamed: 0', 'VIDEO_AVAILABLE'], axis=1, inplace=True)

ValueError: labels ['Unnamed: 0'] not contained in axis

In [40]:
df.head()

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,21955,77847,Bob Pettit,STL,St. Louis Hawks,25500239,1956-02-24,STL vs. SYR,W,0,...,NaN,NaN,NaN,NaN,NaN,NaN,3,46,NaN,0
1,21955,77847,Bob Pettit,STL,St. Louis Hawks,25500094,1955-12-27,STL vs. BOS,L,0,...,NaN,NaN,NaN,NaN,NaN,NaN,3,46,NaN,0
2,21955,77847,Bob Pettit,STL,St. Louis Hawks,25500274,1956-03-09,STL vs. MNL,W,0,...,NaN,NaN,NaN,NaN,NaN,NaN,3,44,NaN,0
3,21955,76243,Carl Braun,NYK,New York Knicks,25500246,1956-02-27,NYK vs. STL,W,0,...,NaN,NaN,NaN,NaN,NaN,NaN,5,44,NaN,0
4,21955,77847,Bob Pettit,STL,St. Louis Hawks,25500279,1956-03-11,STL @ BOS,W,0,...,NaN,NaN,NaN,NaN,NaN,NaN,3,43,NaN,0

In [9]:
kobe = df[df['PLAYER_NAME']== 'Kobe Bryant']

In [10]:
kobe.head()

,Unnamed: 0,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,0,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20500591,2006-01-22,LAL vs. TOR,W,...,4,6,2,3,1,3,1,81,25,0
1,1,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20500359,2005-12-20,LAL vs. DAL,W,...,5,8,0,3,0,2,3,62,35,0
4,4,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20501130,2006-04-07,LAL @ PHX,L,...,5,5,3,1,0,2,3,51,-6,0
7,7,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20500563,2006-01-19,LAL @ SAC,L,...,9,9,4,1,0,4,2,51,-13,0
9,9,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20501185,2006-04-14,LAL vs. POR,W,...,5,6,1,5,0,3,4,50,19,0

In [12]:
kobe.PLUS_MINUS.mean()

3.9875

In [14]:
df[df.PLUS_MINUS < 0].head()

,Unnamed: 0,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
2,2,22005,947,Allen Iverson,PHI,Philadelphia 76ers,20500371,2005-12-23,PHI @ ATL,L,...,6,6,5,2,0,0,0,53,-5,0
3,3,22005,2544,LeBron James,CLE,Cleveland Cavaliers,20500287,2005-12-10,CLE @ MIL,L,...,7,7,7,2,0,3,5,52,-3,0
4,4,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20501130,2006-04-07,LAL @ PHX,L,...,5,5,3,1,0,2,3,51,-6,0
7,7,22005,977,Kobe Bryant,LAL,Los Angeles Lakers,20500563,2006-01-19,LAL @ SAC,L,...,9,9,4,1,0,4,2,51,-13,0
10,10,22005,1718,Paul Pierce,BOS,Boston Celtics,20500767,2006-02-15,BOS vs. CLE,L,...,7,7,8,0,0,4,6,50,-1,0

In [23]:
plus_minus_avg = df.groupby(['PLAYER_NAME'])[['PLUS_MINUS']].mean().reset_index()

In [27]:
plus_minus_avg.sort_values('PLUS_MINUS', ascending=False)

            PLAYER_NAME  PLUS_MINUS
417     Tayshaun Prince    7.878049
359     Rasheed Wallace    7.675000
45          Ben Wallace    7.292683
82     Chauncey Billups    7.259259
404    Slava Medvedenko    7.000000
142         Dwyane Wade    6.493333
420          Tim Duncan    6.487500
367    Richard Hamilton    6.487500
426         Tony Parker    6.387500
133       Dirk Nowitzki    6.296296
285       Manu Ginobili    6.292308
309   Metta World Peace    6.196429
54           Boris Diaw    6.037037
209         Jason Terry    6.000000
413          Steve Nash    5.962025
233         Josh Howard    5.338983
403        Shawn Marion    5.074074
354           Raja Bell    4.658228
398    Shaquille O'Neal    4.559322
258         Kurt Thomas    4.547170
67          Bruce Bowen    4.402439
397       Shane Battier    4.382716
150         Eddie Jones    4.240000
439        Vince Carter    4.177215
68        Bryon Russell    4.000000
256         Kobe Bryant    3.987500
94       Corey Maggette    3.875000
372        Robert Horry    3.746032
343           Pau Gasol    3.737500
12      Alonzo Mourning    3.661538
..                  ...         ...
235          Josh Smith   -3.987500
229     Jonathan Bender   -4.000000
295     Martell Webster   -4.065574
143         Earl Barron   -4.125000
454      Zeljko Rebraca   -4.172414
429       Travis Outlaw   -4.173913
347       Primoz Brezec   -4.189873
221      Joel Przybilla   -4.232143
437      Viktor Khryapa   -4.260870
289        Marcus Fizer   -4.333333
38        Antonio Davis   -4.363636
5         Al Harrington   -4.381579
410     Stephon Marbury   -4.383333
236          Juan Dixon   -4.394737
219         Joe Johnson   -4.573171
200        Jarrett Jack   -4.696203
394   Sebastian Telfair   -4.794118
348  Quentin Richardson   -4.963636
13       Alvin Williams   -5.000000
108        Darius Miles   -5.100000
151          Eddy Curry   -5.361111
411         Steve Blake   -5.382353
395        Sergei Monia   -5.500000
125   Derrick Zimmerman   -5.500000
451       Zach Randolph   -5.918919
332                Nene   -6.000000
212        Jeff McInnis   -6.285714
303          Matt Walsh   -6.500000
9            Alex Acker   -6.600000
15         Amir Johnson   -7.333333

[458 rows x 2 columns]

In [33]:
year = [str(i)+'-'+str(i+1)[2:] for i in range(1946, 2015)]

In [42]:
# load game_logs, and remove 'Unnamed: 0', 'VIDEO_AVAILABLE'
for y in year[:10]:
    print y
    csv = '/Users/amos/Desktop/DSI-SF-2-amoskim25/nba_capstone/nbastats/game_logs%s.csv' % y
    df = pd.read_csv(csv)
    df.drop(['Unnamed: 0', 'VIDEO_AVAILABLE'], axis=1, inplace=True)
    print df.head()
    print '==================================='

1946-47
   SEASON_ID  PLAYER_ID      PLAYER_NAME TEAM_ABBREVIATION  \
0      21946      76764        Joe Fulks               PHW
1      21946      77471    Donald Martin               PRO
2      21946      78443  Michael Wallace               HUS
3      21946      76764        Joe Fulks               PHW
4      21946      76764        Joe Fulks               PHW

                 TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0    Philadelphia Warriors  24600157  1947-01-14    PHW @ HUS  W    0
1  Providence Steamrollers  24600147  1947-01-09  PRO vs. CLR  W    0
2          Toronto Huskies  24600195  1947-01-31  HUS vs. WAS  W    0
3    Philadelphia Warriors  24600210  1947-02-06  PHW vs. HUS  W    0
4    Philadelphia Warriors  24600069  1946-12-03  PHW vs. PRO  W    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV   PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   41         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0   40         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  2.0   38         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   37         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  2.0   37         NaN

[5 rows x 29 columns]
===================================
1947-48
   SEASON_ID  PLAYER_ID    PLAYER_NAME TEAM_ABBREVIATION  \
0      21947      76243     Carl Braun               NYK
1      21947      78638  Max Zaslofsky               CHS
2      21947      76764      Joe Fulks               PHW
3      21947      76764      Joe Fulks               PHW
4      21947      78638  Max Zaslofsky               CHS

               TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0        New York Knicks  24700040  1947-12-06    NYK @ PRO  W    0
1          Chicago Stags  24700171  1948-03-07  CHS vs. PRO  W    0
2  Philadelphia Warriors  24700122  1948-02-01    PHW @ CHS  W    0
3  Philadelphia Warriors  24700188  1948-03-18  PHW vs. PRO  W    0
4          Chicago Stags  24700085  1948-01-09    CHS @ PHW  W    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV   PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   47         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   40         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   37         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN   35         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   35         NaN

[5 rows x 29 columns]
===================================
1948-49
   SEASON_ID  PLAYER_ID   PLAYER_NAME TEAM_ABBREVIATION  \
0      21948      76764     Joe Fulks               PHW
1      21948     600012  George Mikan               MNL
2      21948     600012  George Mikan               MNL
3      21948     600012  George Mikan               MNL
4      21948     600012  George Mikan               MNL

               TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0  Philadelphia Warriors  24800260  1949-02-10  PHW vs. JET  W    0
1     Minneapolis Lakers  24800300  1949-02-26    MNL @ BAL  W    0
2     Minneapolis Lakers  24800340  1949-03-13  MNL vs. NYK  W    0
3     Minneapolis Lakers  24800291  1949-02-22    MNL @ NYK  W    0
4     Minneapolis Lakers  24800231  1949-01-31  MNL vs. WAS  W    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   63         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   53         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   51         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   48         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   48         NaN

[5 rows x 29 columns]
===================================
1949-50
   SEASON_ID  PLAYER_ID   PLAYER_NAME TEAM_ABBREVIATION  \
0      21949     600012  George Mikan               MNL
1      21949      76438    Bobby Cook               SHE
2      21949      76897    Alex Groza               INO
3      21949     600012  George Mikan               MNL
4      21949      76897    Alex Groza               INO

                TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0      Minneapolis Lakers  24900001  1950-01-14    MNL @ ROC  L    0
1      Sheboygan Redskins  24900286  1950-01-12   SHE vs. DN  W    0
2  Indianapolis Olympians  24900088  1949-11-22  INO vs. ROC  W    0
3      Minneapolis Lakers  24900261  1950-01-05    MNL @ SHE  L    0
4  Indianapolis Olympians  24900206  1949-12-22  INO vs. CHS  W    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   51         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   44         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   43         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   42         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   42         NaN

[5 rows x 29 columns]
===================================
1950-51
   SEASON_ID  PLAYER_ID      PLAYER_NAME TEAM_ABBREVIATION  \
0      21950      76636  Thomas Eddleman               TCB
1      21950     600012     George Mikan               MNL
2      21950     600012     George Mikan               MNL
3      21950     600012     George Mikan               MNL
4      21950     600012     George Mikan               MNL

               TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0  Tri-Cities Blackhawks  25000126  1950-12-17    TCB @ FTW  W    0
1     Minneapolis Lakers  25000046  1950-11-18    MNL @ ROC  W    0
2     Minneapolis Lakers  25000316  1951-03-03    MNL @ TCB  W    0
3     Minneapolis Lakers  25000321  1951-03-04    MNL @ BOS  L    0
4     Minneapolis Lakers  25000116  1950-12-13  MNL vs. ROC  L    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   48         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   47         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   46         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   44         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN NaN   43         NaN

[5 rows x 29 columns]
===================================
1951-52
   SEASON_ID  PLAYER_ID    PLAYER_NAME TEAM_ABBREVIATION  \
0      21951     600012   George Mikan               MNL
1      21951     600012   George Mikan               MNL
2      21951      78076  Dolph Schayes               SYR
3      21951     600012   George Mikan               MNL
4      21951      76056    Paul Arizin               PHW

               TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0     Minneapolis Lakers  25100002  1952-01-20  MNL vs. ROC  W    0
1     Minneapolis Lakers  25100302  1952-03-04    MNL @ PHW  L    0
2     Syracuse Nationals  25100181  1952-01-17  SYR vs. MNL  W    0
3     Minneapolis Lakers  25100020  1951-11-09    MNL @ PHW  L    0
4  Philadelphia Warriors  25100290  1952-02-29  PHW vs. BAL  W    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV   PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   61         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  5.0   41         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  5.0   41         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   41         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  3.0   40         NaN

[5 rows x 29 columns]
===================================
1952-53
   SEASON_ID  PLAYER_ID   PLAYER_NAME TEAM_ABBREVIATION           TEAM_NAME  \
0      21952      77429   Ed Macauley               BOS      Boston Celtics
1      21952     600012  George Mikan               MNL  Minneapolis Lakers
2      21952      78126  Bill Sharman               BOS      Boston Celtics
3      21952     600012  George Mikan               MNL  Minneapolis Lakers
4      21952      77429   Ed Macauley               BOS      Boston Celtics

    GAME_ID   GAME_DATE      MATCHUP WL  MIN     ...      OREB  DREB  REB  \
0  25200321  1953-03-06  BOS vs. MNL  W    0     ...       NaN   NaN  NaN
1  25200186  1953-01-14    MNL @ BAL  W    0     ...       NaN   NaN  NaN
2  25200104  1952-12-11  BOS vs. BAL  W    0     ...       NaN   NaN  NaN
3  25200192  1953-01-17    MNL @ ROC  L    0     ...       NaN   NaN  NaN
4  25200008  1952-11-01    BOS @ MNL  L    0     ...       NaN   NaN  NaN

   AST  STL  BLK  TOV   PF  PTS  PLUS_MINUS
0  NaN  NaN  NaN  NaN  3.0   46         NaN
1  NaN  NaN  NaN  NaN  6.0   46         NaN
2  NaN  NaN  NaN  NaN  3.0   42         NaN
3  NaN  NaN  NaN  NaN  5.0   41         NaN
4  NaN  NaN  NaN  NaN  4.0   37         NaN

[5 rows x 29 columns]
===================================
1953-54
   SEASON_ID  PLAYER_ID    PLAYER_NAME TEAM_ABBREVIATION  \
0      21953      77169  Neil Johnston               PHW
1      21953     600003      Bob Cousy               BOS
2      21953      77169  Neil Johnston               PHW
3      21953      77169  Neil Johnston               PHW
4      21953      77169  Neil Johnston               PHW

               TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0  Philadelphia Warriors  25300250  1954-02-16    PHW @ SYR  W    0
1         Boston Celtics  25300265  1954-02-22  BOS vs. BAL  W    0
2  Philadelphia Warriors  25300226  1954-02-08    PHW @ MNL  L    0
3  Philadelphia Warriors  25300038  1953-11-18    PHW @ NYK  L    0
4  Philadelphia Warriors  25300298  1954-03-06    PHW @ SYR  L    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV   PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  5.0   50         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   42         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0   41         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  5.0   41         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0   39         NaN

[5 rows x 29 columns]
===================================
1954-55
   SEASON_ID  PLAYER_ID    PLAYER_NAME TEAM_ABBREVIATION  \
0      21954      77169  Neil Johnston               PHW
1      21954      78113    Frank Selvy               MIH
2      21954     600003      Bob Cousy               BOS
3      21954      78113    Frank Selvy               MIH
4      21954      78076  Dolph Schayes               SYR

               TEAM_NAME   GAME_ID   GAME_DATE      MATCHUP WL  MIN  \
0  Philadelphia Warriors  25400191  1955-02-04  PHW vs. ROC  W    0
1        Milwaukee Hawks  25400050  1954-12-02  MIH vs. MNL  W    0
2         Boston Celtics  25400275  1955-03-08  BOS vs. PHW  W    0
3        Milwaukee Hawks  25400155  1955-01-20    MIH @ MNL  L    0
4     Syracuse Nationals  25400122  1955-01-06  SYR vs. MNL  L    0

      ...      OREB  DREB  REB  AST  STL  BLK  TOV   PF  PTS  PLUS_MINUS
0     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  3.0   45         NaN
1     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   42         NaN
2     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0   40         NaN
3     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  3.0   40         NaN
4     ...       NaN   NaN  NaN  NaN  NaN  NaN  NaN  4.0   40         NaN

[5 rows x 29 columns]
===================================
1955-56
   SEASON_ID  PLAYER_ID PLAYER_NAME TEAM_ABBREVIATION        TEAM_NAME  \
0      21955      77847  Bob Pettit               STL  St. Louis Hawks
1      21955      77847  Bob Pettit               STL  St. Louis Hawks
2      21955      77847  Bob Pettit               STL  St. Louis Hawks
3      21955      76243  Carl Braun               NYK  New York Knicks
4      21955      77847  Bob Pettit               STL  St. Louis Hawks

    GAME_ID   GAME_DATE      MATCHUP WL  MIN     ...      OREB  DREB  REB  \
0  25500239  1956-02-24  STL vs. SYR  W    0     ...       NaN   NaN  NaN
1  25500094  1955-12-27  STL vs. BOS  L    0     ...       NaN   NaN  NaN
2  25500274  1956-03-09  STL vs. MNL  W    0     ...       NaN   NaN  NaN
3  25500246  1956-02-27  NYK vs. STL  W    0     ...       NaN   NaN  NaN
4  25500279  1956-03-11    STL @ BOS  W    0     ...       NaN   NaN  NaN

   AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS
0  NaN  NaN  NaN  NaN   3   46         NaN
1  NaN  NaN  NaN  NaN   3   46         NaN
2  NaN  NaN  NaN  NaN   3   44         NaN
3  NaN  NaN  NaN  NaN   5   44         NaN
4  NaN  NaN  NaN  NaN   3   43         NaN

[5 rows x 29 columns]
===================================